body {
  margin: 0;
  min-height: 100vh;
  background-color: #333;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.animations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
}

.animation-container {
  background-color: #222;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.animation-container--two-columns {
  grid-column: 1 / 3;
  height: 500px;
}

.animation-container--small {
  height: 300px;
}

/* LOADER */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

/* HEART */
.heart {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: crimson;
  transform: rotate(45deg);
  animation: pulse 2s infinite;
}

.heart::after,
.heart::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: inherit;
}

.heart::after {
  top: -50px;
}

.heart::before {
  top: 0;
  left: -50px;
}

@keyframes pulse {
  0%,
  5% {
    transform: rotate(45deg) scale(1.2);
  }

  5%,
  10% {
    transform: rotate(45deg) scale(1);
  }

  10%,
  15% {
    transform: rotate(45deg) scale(1.2);
  }

  15%,
  100% {
    transform: rotate(45deg) scale(1);
  }
}

/* SLIDE WITH STOP ON HOVER */

:root {
  --slider-width: 100%;
}
.slider-container {
  overflow: hidden;
}

.slider {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  width: var(--slider-width);
  animation: slider 15s linear infinite alternate forwards;
}

@media (hover: hover) {
  .slider:hover {
    animation-play-state: paused;
  }
}

.slider__card {
  background-color: #ccc;
  padding: 1rem;
  min-width: 300px;
  width: 25vw;
  flex-shrink: 0;
}

@media (hover: hover) {
  .slider__card:hover {
    background-color: #666;
    color: aliceblue;
    cursor: pointer;
  }
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translate(-100%);
  }
}

/* SPIDERMAN */

.spiderman-container {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 600px;
  transform-origin: top;
  animation-name: down;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.spiderman-container::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 215px;
  background-color: #fff;
  transform: translateY(0);
  z-index: -1;
}

.spiderman {
  position: absolute;
  transform: translateY(0);
  animation: spiderman 10s;
  width: 45%;
}

@keyframes down {
  0% {
    transform: translateY(-100%);
  }

  20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(0) rotate(45deg);
  }

  60% {
    transform: translateY(0) rotate(-45deg);
  }

  80% {
    transform: translateY(0) rotate(0);
  }

  100% {
    transform: translateY(-100%) rotate(0);
  }
}
